@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
.photograph-header {
  background-color: #FAFAFA;
  height: 300px;
  margin: 0 100px;
}
.photograph-header .btn-contact {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}
.photograph-header .profile-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 300px;
}
.photograph-header .profile-card-container h2 {
  color: #D3573C;
  font-size: 36px;
}
.photograph-header .profile-card-container h3 {
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #901C1C;
  text-align: center;
}
.photograph-header .profile-card-container p {
  color: #D3573C;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
}
.photograph-header .profile-card-container span {
  color: #757575;
  font-weight: 400;
  font-size: 9px;
  line-height: 12px;
  text-align: center;
}
.photograph-header .profile-img-container img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__profile-container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1150px) {
  .main__profile-container {
    margin: 0 0 0 4.5%;
  }
}

#contact_modal {
  display: none;
}
#contact_modal .modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}
#contact_modal .modal header {
  justify-content: space-between;
  width: 100%;
}
#contact_modal .modal header img {
  cursor: pointer;
}
#contact_modal .modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}
#contact_modal .modal form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
#contact_modal .modal form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}
#contact_modal .modal form div label {
  color: #312E2E;
  font-size: 36px;
}
#contact_modal .modal form input,
#contact_modal .modal form textarea {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
#contact_modal .modal form #btn-form {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

/*------------------------------------*\
   card-images
\*------------------------------------*/
.images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  margin-top: 100px;
  margin-top: 35px;
}
@media screen and (max-width: 768px) {
  .images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin-top: 100px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin-top: 100px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1150px) {
  .images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin-top: 100px;
    margin-left: 25px;
  }
}
@media screen and (min-width: 1150px) {
  .images > * {
    margin-left: 25px;
  }
}
.images__post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
@media screen and (max-width: 768px) {
  .images__post-container:nth-child(odd) {
    background-color: #f1f1f1;
  }
}
.images__post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  max-width: 350px;
  transition: scale 350ms ease-out;
}
@media screen and (max-width: 768px) {
  .images__post {
    max-width: 75%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .images__post {
    max-width: 350px;
  }
}
.images__post:hover {
  scale: 105%;
}
.images__post-container {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
@media screen and (max-width: 768px) {
  .images__post-container {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .images__post-container {
    max-width: 100%;
  }
}
@media screen and (min-width: 993px) and (max-width: 1150px) {
  .images__post-container {
    max-width: 100%;
  }
}
.images__post-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96%;
}
.images__post-description {
  color: #901C1C;
}
.images__post-like-button {
  color: #901C1C;
  margin-right: 1px;
}
.images__image {
  width: 350px;
  height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border-radius: 5px;
}
.images__video {
  width: 350px;
  height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

/*------------------------------------*\
   Card Likes Total
\*------------------------------------*/
#total-card {
  position: fixed;
  bottom: 0;
  right: 2%;
  padding: 10px 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  color: #000000;
  background-color: #DB8876;
  font-size: 22px;
  border-radius: 5px 5px 0 0;
}
#total-card i {
  margin-right: 20px;
  color: #000000;
  margin-left: 5px;
}

/*------------------------------------*\
   Caroussel Modal
\*------------------------------------*/
.lightbox-modal {
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 2000px;
  height: 100%;
  margin: auto;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightbox-content {
  z-index: 1000;
  width: 1200px;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}

.prev-btn {
  border: none;
  background: url(../assets/icons/prev.png);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  top: 15%;
  cursor: pointer;
  left: 0;
}

.next-btn {
  border: none;
  background: url(../assets/icons/next.png);
  background-repeat: no-repeat;
  top: 15%;
  height: 50px;
  width: 50px;
  flex-basis: auto;
  cursor: pointer;
}

.close-btn {
  position: fixed;
  top: 5%;
  right: 25%;
  height: 60px;
  width: 60px;
  cursor: pointer;
  border: none;
  background: url(../assets/icons/close.png);
  background-repeat: no-repeat;
}

.media-title {
  color: #901c1c;
}

.media-content {
  width: 640px;
  height: 640px;
}
.media-content .media {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 640px;
}

#contact_modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal_btn {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
}

.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}
.modal header {
  justify-content: space-between;
  width: 100%;
}
.modal header img {
  cursor: pointer;
}
.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5%;
}
form label {
  color: #312E2E;
  font-size: 36px;
}
form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}
form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

.active-like {
  color: #901C1C !important;
}
.active-like .fa-heart {
  color: #901C1C !important;
}

/*------------------------------------*\
   DROPDOWN
\*------------------------------------*/
.drop-down {
  margin-left: 25px;
  display: flex;
  justify-content: flex-start;
  gap: 25px;
}
@media screen and (max-width: 768px) {
  .drop-down {
    justify-content: center;
    align-items: center;
  }
}
.drop-down__title {
  font-weight: bold;
}
.drop-down__icon-container {
  position: relative;
  top: 20px;
  float: right;
  right: 6px;
  color: white;
  cursor: pointer;
}
.drop-down__icon {
  font-size: 14px;
  color: var(--buttons-color);
  position: absolute;
  cursor: pointer;
}
.drop-down__closed {
  height: 205px;
  border-radius: 5px;
  background-color: #901C1C;
  font-family: Arial;
  width: 170px;
  margin: 0 auto;
  padding: 0;
  transition: height 0.3s ease;
}
.drop-down__closed li:nth-last-child(-n+3) {
  height: 42px;
  width: 88%;
  text-align: left;
  border-top: 2px solid #fff;
  color: white;
  margin: 8px;
}
.drop-down__closed.closed {
  height: 50px;
}
.drop-down__closed li {
  height: 42px;
}
.drop-down__closed li a {
  font-family: "DM Sans";
  display: block;
  color: #ecf0f1;
  text-decoration: none;
  padding: 10px;
  /* Larger touch target area */
}

/* Drop Down Styles
================================ */
.contact__modal {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 3;
  overflow: hidden;
  background-color: #DB8876;
  color: black;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 2px 8px rgba(10, 10, 10, 0.3019607843);
  width: 40%;
  height: 90vh;
}
@media screen and (min-width: 993px) and (max-width: 1150px) {
  .contact__modal {
    width: 60%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .contact__modal {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  .contact__modal {
    width: 100%;
    height: 100vh;
  }
}
.contact__modal-content {
  height: 100%;
}
.contact__modal::backdrop {
  background-color: rgba(196, 196, 196, 0.4);
}
.contact__title-button {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 15%;
}
.contact__title {
  font-size: 44px;
}
@media screen and (max-width: 768px) {
  .contact__title {
    font-size: 34px;
  }
}
.contact__button-close-dialog {
  color: white;
  aspect-ratio: 1/1;
  height: 35px;
}
.contact__button-close-dialog-icon {
  font-size: 35px;
  color: black;
}
.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 25px;
  height: 75%;
}
.contact__legend {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.contact__fieldset {
  width: 100%;
}
.contact__fieldset-section {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.contact__label {
  font-size: 26px;
}
.contact__input {
  border-radius: 5px;
  width: 100%;
  height: 50px;
  font-size: 22px;
  padding: 5px 10px;
}
.contact__text-area {
  border-radius: 5px;
  width: 100%;
  height: 120px;
  font-size: 22px;
  padding: 5px 10px;
}
.contact__error-message {
  margin-top: -2px;
  padding-inline: 5px;
  background-color: #bc0f0f;
  color: white;
  border-radius: 0 0 5px 5px;
  margin-bottom: 10px;
  font-size: 14px;
}
.contact__submit-button {
  border-radius: 5px;
}
.contact__submit-button:focus {
  background-color: #757575;
}
@media screen and (max-width: 768px) {
  .contact__submit-button {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .contact__submit-button {
    width: 100%;
  }
}
@media screen and (min-width: 993px) and (max-width: 1150px) {
  .contact__submit-button {
    width: 100%;
  }
}
.contact__submit-button:hover {
  background-color: #757575;
}
.contact__submit-button:active {
  background-color: #651414;
  color: white;
}
.contact__validated-form {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
}