@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
.photograph-header {
  background-color: #FAFAFA;
  height: 300px;
  margin: 0 100px;
}
.photograph-header .btn-contact {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}
.photograph-header .profile-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 300px;
}
.photograph-header .profile-card-container h2 {
  color: #D3573C;
  font-size: 36px;
}
.photograph-header .profile-card-container h3 {
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #901C1C;
  text-align: center;
}
.photograph-header .profile-card-container p {
  color: #D3573C;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
}
.photograph-header .profile-card-container span {
  color: #757575;
  font-weight: 400;
  font-size: 9px;
  line-height: 12px;
  text-align: center;
}
.photograph-header .profile-img-container img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

#contact_modal {
  display: none;
}
#contact_modal .modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}
#contact_modal .modal header {
  justify-content: space-between;
  width: 100%;
}
#contact_modal .modal header img {
  cursor: pointer;
}
#contact_modal .modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}
#contact_modal .modal form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
#contact_modal .modal form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}
#contact_modal .modal form div label {
  color: #312E2E;
  font-size: 36px;
}
#contact_modal .modal form input,
#contact_modal .modal form textarea {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
#contact_modal .modal form #btn-form {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

/*------------------------------------*\
   card-images
\*------------------------------------*/
.images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  margin-top: 100px;
  margin-top: 35px;
}
@media screen and (max-width: 768px) {
  .images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin-top: 100px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin-top: 100px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1150px) {
  .images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin-top: 100px;
    margin-left: 25px;
  }
}
@media screen and (min-width: 1150px) {
  .images > * {
    margin-left: 25px;
  }
}
.images__sorter {
  margin-left: 25px;
  display: flex;
  justify-content: flex-start;
  gap: 25px;
}
@media screen and (max-width: 768px) {
  .images__sorter {
    justify-content: center;
    align-items: center;
  }
}
.images__select-container {
  position: relative;
}
.images__post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
@media screen and (max-width: 768px) {
  .images__post-container:nth-child(odd) {
    background-color: #f1f1f1;
  }
}
.images__post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  max-width: 350px;
  transition: scale 350ms ease-out;
}
@media screen and (max-width: 768px) {
  .images__post {
    max-width: 75%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .images__post {
    max-width: 350px;
  }
}
.images__post:hover {
  scale: 105%;
}
.images__post-container {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
@media screen and (max-width: 768px) {
  .images__post-container {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .images__post-container {
    max-width: 100%;
  }
}
@media screen and (min-width: 993px) and (max-width: 1150px) {
  .images__post-container {
    max-width: 100%;
  }
}
.images__post-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96%;
}
.images__post-description {
  color: #901C1C;
}
.images__post-like-button {
  color: #901C1C;
  margin-right: 1px;
}
.images__image {
  width: 350px;
  height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border-radius: var(--buttons-border-radius);
}
.images__video {
  width: 350px;
  height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: var(--buttons-border-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

/*------------------------------------*\
   DROPDOWN
\*------------------------------------*/
.sort-container {
  margin: 20px 0 20px 100px;
}

.sort-button {
  padding: 0;
  margin-right: 10px;
  border: none;
  background: none;
}

.sort-dropdown {
  font-size: 12px;
  font-weight: bold;
  color: white;
  padding: 11px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
}
.sort-dropdown option {
  cursor: pointer;
}

/*------------------------------------*\
   Card Likes Total
\*------------------------------------*/
#total-card {
  position: fixed;
  bottom: 0;
  right: 2%;
  padding: 10px 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  color: #000000;
  background-color: #DB8876;
  font-size: 22px;
  border-radius: 5px 5px 0 0;
}
#total-card i {
  margin-right: 20px;
  color: #000000;
  margin-left: 5px;
}

/*------------------------------------*\
   Caroussel Modal
\*------------------------------------*/
.lightbox-modal {
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 2000px;
  height: 100%;
  margin: auto;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightbox-content {
  z-index: 1000;
  width: 1200px;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}

.prev-btn {
  border: none;
  background: url(../assets/icons/prev.png);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  top: 15%;
  cursor: pointer;
  left: 0;
}

.next-btn {
  border: none;
  background: url(../assets/icons/next.png);
  background-repeat: no-repeat;
  top: 15%;
  height: 50px;
  width: 50px;
  flex-basis: auto;
  cursor: pointer;
}

.close-btn {
  position: fixed;
  top: 5%;
  right: 25%;
  height: 60px;
  width: 60px;
  cursor: pointer;
  border: none;
  background: url(../assets/icons/close.png);
  background-repeat: no-repeat;
}

.media-title {
  color: #901c1c;
}

.media-content {
  width: 640px;
  height: 640px;
}
.media-content .media {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 640px;
}

#contact_modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal_btn {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
}

.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}
.modal header {
  justify-content: space-between;
  width: 100%;
}
.modal header img {
  cursor: pointer;
}
.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5%;
}
form label {
  color: #312E2E;
  font-size: 36px;
}
form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}
form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

.active-like {
  color: #901C1C !important;
}
.active-like .fa-heart {
  color: #901C1C !important;
}

/****** Elad Shechter's RESET *******/
/*** box sizing border-box for all elements ***/
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

figure {
  margin: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

ul, ol, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

p {
  margin: 0;
}

cite {
  font-style: normal;
}

fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
header h1 {
  color: #901C1C;
  margin-right: 100px;
}
header .logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
}
article img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
article .card-container h2 {
  color: #D3573C;
  font-size: 36px;
}
article .card-container h3 {
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #901C1C;
  text-align: center;
}
article .card-container p {
  color: #D3573C;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
}
article .card-container span {
  color: #757575;
  font-weight: 400;
  font-size: 9px;
  line-height: 12px;
  text-align: center;
}