@import './partials/mixin';
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;

    .btn-contact {
        font-size: 20px;
        font-weight: bold;
        color: white;
        padding: 11px;
        width: 170px;
        height: 70px;
        border: none;
        background-color: $primary;
        border-radius: 5px;
        cursor: pointer;
    }

    .profile-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 300px;
    }

    .profile-card-container {
        @include card-profil();
    }

    .profile-img-container {
        img {
            @include img-profil();
        }

    }
}

#contact_modal {
    display: none;

    .modal {
        border-radius: 5px;
        background-color: #DB8876;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 35px;
        margin: auto;

        header {
            justify-content: space-between;
            width: 100%;

            img {
                cursor: pointer;
            }

            h2 {
                font-size: 64px;
                font-weight: normal;
                text-align: center;
            }

        }

        form {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: flex-start;

            div {
                display: flex;
                flex-direction: column;
                width: 100%;
                align-items: self-start;
                margin-bottom: 26px;

                label {
                    color: #312E2E;
                    font-size: 36px;
                }
            }

            input,
            textarea {
                width: 100%;
                height: 68px;
                border: none;
                border-radius: 5px;
            }

            #btn-form {
                font-size: 20px;
                font-weight: bold;
                color: white;
                padding: 11px;
                width: 170px;
                height: 70px;
                border: none;
                background-color: #901C1C;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
}


/*------------------------------------*\
   card-images
\*------------------------------------*/

.images {
    @include grid(25px);

    @include mobile-only {

        @include grid(15px);
    }

    @include tablet-only {


        @include grid(15px)
    }

    @include laptop-only {
        @include grid(15px);
        margin-left: 25px;
    }

    @include desktop-only {
        &>* {
            margin-left: 25px;
        }

    }

    margin-top: 35px;

    &__sorter {
        margin-left: 25px;
        display: flex;
        justify-content: flex-start;
        gap: 25px;

        @include mobile-only {
            justify-content: center;
            align-items: center
        }
    }

    &__select-container {
        //Relative to the icon container, line: 570
        position: relative;
    }

    &__post-container {
        @include center-flex-column;

        @include mobile-only {
            &:nth-child(odd) {
                background-color: var(--odd-card-bg-color);
            }
        }
    }

    &__post {
        @include center-flex-column;
        max-width: 350px;

        @include mobile-only {
            max-width: 75%;
        }

        @include tablet-only {
            max-width: 350px;
        }

        transition: scale 350ms ease-out;

        &:hover {
            scale: 105%;
        }
    }

    &__post-container {
        max-width: 350px;
        @include center-flex-column;

        @include mobile-only {
            width: 100%;
            max-width: 100%;
            @include center-flex;
        }

        @include tablet-only {
            max-width: 100%;
        }

        @include laptop-only {
            max-width: 100%;
        }
    }

    &__post-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 96%;
    }

    &__post-description {
        color: var(--bg-color-secondary);
    }

    &__post-like-button {
        color: var(--bg-color-secondary);
        margin-right: 1px;
    }

    &__image {
        width: 350px;
        height: 300px;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
        border-radius: var(--buttons-border-radius);
    }

    &__video {
        width: 350px;
        height: 300px;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: var(--buttons-border-radius);
        @include center-flex-column;
    }

}


/*------------------------------------*\
   DROPDOWN
\*------------------------------------*/

.dropdown-menu {
    margin-top: -5px;
    background-color: $buttons-bg-color;
    //Not using aspect ratio here since we intend to change the height of the element when the user clicks on it
    width: 170px;
    max-height: 170px;
    border-radius: 0 0 $buttons-border-radius $buttons-border-radius;

    @include mobile-only {
        display: none;
    }

    &__sort-button {
        display: block;

        @include mobile-only {
            display: none;
        }

        @include sort-element-styling;
    }

    &__icon-container {
        //Absolute to the position of the select container, line: 466
        position: absolute;
        right: 25px;
        top: 18px;

        transition: rotate 250ms ease-out;
        aspect-ratio: 1/1;
        height: 12px;
        @include center-flex;
    }

    &__icon {
        font-size: 14px;
        color: $buttons-color;
        position: absolute;
    }


    &__list {
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &__list-item {
        padding-block: 14px;
        width: 88%;
        text-align: left;
        border-top: 2px solid white;
        color: $buttons-color;

        &:hover {
            cursor: pointer;
            background-color: $buttons-bg-color--hover;
            color: $buttons-color--hover;

        }
    }

}