@import './partials/mixin';

@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

/*------------------------------------*\
    Settings
\*------------------------------------*/

$spacing: 1em;
$color__primary: #444;


/*------------------------------------*\
    NAV
\*------------------------------------*/
.nav {
    float: left; /* Clear floats */
    width: 100%;
    margin-bottom: $spacing;
    padding: 0 $spacing;
    list-style: none;
    font-weight: bold;
    background: $color__primary;
}

.nav li {
    position: relative;
    float: left;
    margin-right: $spacing;
}

.nav a {
    display: block;
    padding: $spacing calc($spacing/3);
    color: #fff;
    text-decoration: none;
}

.nav a:hover{
    color: #fff;
    background: darken($color__primary, 5%);
}

/*--- DROPDOWN ---*/
.nav__sub-menu {
    background: rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
    list-style: none;
    position: absolute;
    left: -9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
}

.nav__sub-menu li {
    float: none;
}

.nav__sub-menu a {
    white-space: nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}

.nav li:hover ul{ /* Display the dropdown on hover */
    left: 0; /* Bring back on-screen when needed */
}

.nav li:hover a { /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
    background: darken($color__primary, 10%);
}


.nav li:hover ul li a:hover { /* Here we define the most explicit hover states--what happens when you hover each individual link. */
    background: $color__primary;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;

    .btn-contact {
        font-size: 20px;
        font-weight: bold;
        color: white;
        padding: 11px;
        width: 170px;
        height: 70px;
        border: none;
        background-color: $primary;
        border-radius: 5px;
        cursor: pointer;
    }

    .profile-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 300px;
    }

    .profile-card-container {
        @include card-profil();
    }

    .profile-img-container {
        img {
            @include img-profil();
        }

    }
}

#contact_modal {
    display: none;

    .modal {
        border-radius: 5px;
        background-color: #DB8876;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 35px;
        margin: auto;

        header {
            justify-content: space-between;
            width: 100%;

            img {
                cursor: pointer;
            }

            h2 {
                font-size: 64px;
                font-weight: normal;
                text-align: center;
            }

        }

        form {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: flex-start;

            div {
                display: flex;
                flex-direction: column;
                width: 100%;
                align-items: self-start;
                margin-bottom: 26px;

                label {
                    color: #312E2E;
                    font-size: 36px;
                }
            }

            input,
            textarea {
                width: 100%;
                height: 68px;
                border: none;
                border-radius: 5px;
            }

            #btn-form {
                font-size: 20px;
                font-weight: bold;
                color: white;
                padding: 11px;
                width: 170px;
                height: 70px;
                border: none;
                background-color: #901C1C;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
}