@import './photographer.scss';
@import './partials/resetmin';
@import './partials/mixin';
@import './partials/variables';



body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;

    h1 {
        color: $primary;
        margin-right: 100px;
    }

    .logo {
        height: 50px;
        margin-left: 100px;
    }
}

.photographer_section {
        @include grid(70px);
}

article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    cursor: pointer;

    img {
        @include img-profil();
    }

    .card-container {

        @include card-profil();
    }
}