@import './variables.scss';
// mixin

@mixin img-profil {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
  }

  @mixin card-profil {
    h2 {
      color: #D3573C;
      font-size: 36px;
  }

  h3 {
      font-weight: 400;
      font-size: 13px;
      line-height: 17px;
      color: $primary;
      text-align: center;
  }

  p {
      color: $secondary;
      font-weight: 400;
      font-size: 10px;
      line-height: 13px;
      text-align: center;
  }

  span {
      color: $tertiary;
      font-weight: 400;
      font-size: 9px;
      line-height: 12px;
      text-align: center
  }
  }

