//variables colors
$primary : #901C1C;
$secondary : #D3573C;
$tertiary: #757575;
$text-color-invoice: black;


//SASS Variables
$body-bg-color: white;

$tab-shadow-color: rgb(228, 169, 59);

$buttons-color: white;
$buttons-color--hover: black;
$buttons-color--focus: black;
$buttons-color--active: white;

$buttons-bg-color: #901C1C;
$buttons-bg-color--hover: #DB8876;
$buttons-bg-color--focus: #DB8876;
$buttons-bg-color--active: darken($buttons-bg-color, 10%);

$text-color-primary: #D3573C;
$text-color-secondary: #901C1C;
$text-color-tertiary: black;
$text-color-quaternary: #757575;

//For the photographers page
$text-color-slogan: #525252;
$text-color-invoice: black;

$dialog-backdrop-bg-color: #c4c4c466;
$dialog-bg-color: #DB8876;
$dialog-shadow-color: #0a0a0a4d;
$dialog-lightbox-backdrop-bg-color: #E5E5E5;

$input-message-color: white;
$input-bg-color--invalid: #430000;
$input-outline-color--invalid: #bc0f0f;

$input-bg-color--valid: #004300;
$input-outline-color--valid: limegreen;
//

$bg-color-primary: #D3573C;
$bg-color-secondary: #901C1C;
$bg-color-tertiary: black;
$bg-color-quaternary: #757575;

//For the scrollbar
$scrollbar-bg-color: #f1f1f1;
$scrollbar-thumb-bg-color: #c1c1c1;
$scrollbar-thumb-bg-color--hover: #a8a8a8;
$scrollbar-thumb-bg-color--active: #787878;
//

$odd-card-bg-color: #f1f1f1;

$bg-color-likes-invoice: #DB8876;

//CSS Variables
:root {
    //Color variables
    --body-bg-color: #{$body-bg-color};

    --tab-shadow-color: #{$tab-shadow-color};

    --buttons-color:#{$buttons-color};
    --buttons-color--hover:#{$buttons-color--hover};
    --buttons-color--focus:#{$buttons-color--focus};

    --buttons-bg-color:#{$buttons-bg-color};
    --buttons-bg-color--hover:#{$buttons-bg-color--hover};
    --buttons-bg-color--active:#{$buttons-bg-color--active};
    --buttons-bg-color--focus:#{$buttons-bg-color--focus};


    --text-color-primary:#{$text-color-primary};
    --text-color-secondary:#{$text-color-secondary};
    --text-color-tertiary:#{$text-color-tertiary};
    --text-color-quaternary:#{$text-color-quaternary};

    //For the photographers page
    --text-color-slogan:#{$text-color-slogan};
    --text-color-invoice:#{$text-color-invoice};
    --dialog-backdrop-bg-color:#{$dialog-backdrop-bg-color};
    --dialog-bg-color:#{$dialog-bg-color};
    --dialog-shadow-color:#{$dialog-shadow-color};
    --dialog-lightbox-backdrop-bg-color:#{$dialog-lightbox-backdrop-bg-color};

    --input-message-color: #{$input-message-color};

    --input-bg-color--invalid: #{$input-bg-color--invalid};
    --input-outline-color--invalid: #{$input-outline-color--invalid};

    --input-bg-color--valid:#{$input-bg-color--valid};
    --input-outline-color--valid:#{$input-outline-color--valid};
    //

    --bg-color-primary:#{$bg-color-primary};
    --bg-color-secondary:#{$bg-color-secondary};
    --bg-color-tertiary:#{$bg-color-tertiary};
    --bg-color-quaternary:#{$bg-color-quaternary};

    //For the scrollbar
    --scrollbar-bg-color:#{$scrollbar-bg-color};
    --scrollbar-thumb-bg-color:#{$scrollbar-thumb-bg-color};
    --scrollbar-thumb-bg-color--hover:#{$scrollbar-thumb-bg-color--hover};
    --scrollbar-thumb-bg-color--active:#{$scrollbar-thumb-bg-color--active};
    //

    --odd-card-bg-color: #{$odd-card-bg-color};

    --bg-color-likes-invoice: #{$bg-color-likes-invoice};

    //Pixel variables
    --buttons-border-radius: 5px;
}